      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <p>Made by Ben Vanik, in Seattle, WA.</p>
        <ul class="footer-links">
          <li><a href="https://twitter.com/benvanik">@benvanik</a></li>
          <li class="muted">·</li>
          <a href="https://plus.google.com/110010259593446416441?rel=author">+benvanik</a>
          <li class="muted">·</li>
          <li><a href="https://github.com/benvanik/">GitHub/benvanik</a></li>
        </ul>
      </div>
    </footer>
  </body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
{% bundle %}
- /assets/scripts/bootstrap.js
- /assets/scripts/prettify.js
{% endbundle %}

  <script>
    window.prettyPrint && window.prettyPrint();

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics.tracker_id }}', '{{ site.title }}');
    ga('send', 'pageview');
  </script>
</html>
