<!DOCTYPE html>
<!--

                     .+jj:        ..:..
                 .6H6+:++jMMMMMbj+:+jjj6b6bbj:.
            .jHbjjj6bMHHbbbbbbbbHHHMMMMMMbj+++jbbbbbbj66+.
          .H6j6bHb6bMMMMMMMMbj:          +6HMHMMHHH66b6j6jb6bj:
         +H6HbHMMMMMMMMMj.    j6jjjj:   .+        +6HMMMHbHHbj+6bj
         6bbbMMMMMMMM6                       bMHb:     +HMMMMHbH6+6b
        +b6bHMMMMMM+           .jHMMb+..MH:Hb:    .jb:    :HMMMMHHbbb.
       .H66bMMMMM:          :Hb6b6j+jj+j+:j6b6bMH6+   +b+    :MMMMbbbb
       j6bH6MMM6          jHb6j+bHMMMMMMMMM6++bb6bbHbj   +6.   .HMMH6jb.
      .bbH6HMMj          bb6jHMMMMMMMMMMMMMMMMMHb6666bb+    j:   jMHH6jb:
      :Mbb+MMH          Hb66MMMMMMMMbjbHHHMMMMMMMHHH6+jbbj   :b   :MMHb+bj
      :MMbjMMj         bb6bMMMMMMH6MH+            +MHMH++bb6j  6.  +MMbbjb+
      :MbbjMMj        Hbj6MMMMMM6Mb                 +MbMH:jbHj  b   jMMHHjb+
       HbHjMMj       jb6jMMMMMbjM:                    bHMH:jbM6  j   6MMbbjb.
       6HHbMM+       bH6bMMMMbbM      :bb6jbbj+b6      HbMb:6HM:      bMHbj6b
       jb6HHMj       6MbbMMM6jH     :MbjbHHb66bHjj     bHHM++HMb       bMb66H.
       :HjHbMb       .HbjMMMjM:    +b6bH6       bj:  MjHjHM6bbMj       :MbbjM+
       .H6bbMM+       bHbbMH6M    .+bM6.        jM:  Hbb:MH6bHb         HbHjH6
        6HbbMMH.       HHbMbbM.   jHbH   j+    jbM: bjMj6H6bHb          bbH6bb
        :HbbMMMj       +MbbHMb.   jMb6   :HMHH6bj .jjM66MjbHH           bbbb6b
         HbbbMMH        bbjHMj    :MMb+            6MjbbjbHb           :Mb6H66
         jHb6HMMj        HjjH6     ::Hb6b+jj+bH6bHb6b66HHb:            bMbjM6b
         .M6bbMMH.       +H+6b:       :bb6j6bMMMHbbbHHb+              bMMH+HbH
          :HjbbMM+        jHjbb.         .+jjjjjj+:.                .HMMMb6bbb.
           +M6bbMb         bbjbb.                                  bMMMMMj66Hj
            .bHjbH+        .Hb6bb+                               +MMMMMMjj6H6
              .H6jb+        .Hb+6bb+                           .HMMMMMM6b6Hb
                jHjb+         :HHjjbbbj.                     :HMMMMMMH+b6Hb
                 .Hbbb           +HM6jj6b6jj:       +Mb. .jHMMMMMMMM+6jHM:
                   +Mbj              +bHMbbb6j6bMMMMMMMMMMMMMMMMMMjj6bMj
                     ++                   .6HMMMH+..+6HMMMMMMMMb+j6bHb
                                               .6HHMMMMHbjjjbbbj6HH6
                                                     +HMbbbbHHbHH:
                                                       :jjjjjjj

-->
<html lang="en">
  <head>
    <title>{{ page.title }} - Ben Vanik / noxa.org</title>
    <meta name="description" content="The personal website of Ben Vanik">
    <meta name="author" content="Ben Vanik (noxa)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/icons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/icons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/icons/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" href="assets/icons/favicon.ico">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="http://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css">

{% bundle %}
- /assets/styles/bootstrap.css
- /assets/styles/prettify.css
- /assets/styles/main.css
{% endbundle %}

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/"><img src="/assets/images/noxa-logo.png" width="28" height="28"/> noxa.org >></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="{% if page.title == 'home' %}active{% endif %}">
                <a href="/">home</a>
              </li>
              <li class="{% if page.title == 'posts' %}active{% endif %}">
                <a href="/posts/">posts</a>
              </li>
              <li class="{% if page.title == 'projects' %}active{% endif %}">
                <a href="/projects/">projects</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
